<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE score-partwise PUBLIC "-//Recordare//DTD MusicXML 3.1 Partwise//EN"
        "http://www.musicxml.org/dtds/partwise.dtd">

<score-partwise version="3.1">

  <part-list>
    <score-part id="P1">
      <part-name>Main</part-name>
    </score-part>
  </part-list>

  {% set duration_map = {
    'whole': 16,
    'half': 8,
    'quarter': 4,
    'eighth': 2,
    '16th': 1
  } %}

  <part id="P1">

    {% set global_measure = 1 %}

    {% for score in scores %}

      {# Start a new system for each original line #}
      <measure number="{{ global_measure }}">
        <print new-system="yes"/>

        {# First measure of each score needs attributes #}
        <attributes>
          <divisions>4</divisions>
          <key><fifths>0</fifths></key>
          <time>
            <beats>{{ score.time_signature.beats }}</beats>
            <beat-type>{{ score.time_signature.beat_type }}</beat-type>
          </time>
          <clef>
            <sign>{{ score.clef_changes.get(1).value if score.clef_changes.get(1) else 'G' }}</sign>
            <line>2</line>
          </clef>
        </attributes>

        {# Emit notes of the first measure of this score #}
        {% for item in score.measures[0].items %}
        <note>
          {% if item.pitch is defined %}
          <pitch>
            <step>{{ item.pitch.step }}</step>
            {% if item.pitch.accidental == 'sharp' %}<alter>1</alter>
            {% elif item.pitch.accidental == 'flat' %}<alter>-1</alter>
            {% elif item.pitch.accidental == 'natural' %}<alter>0</alter>
            {% endif %}
            <octave>{{ item.pitch.octave }}</octave>
          </pitch>
          {% else %}
          <rest/>
          {% endif %}

          <duration>{{ duration_map.get(item.duration.value, 4) }}</duration>
          <type>{{ item.duration.value }}</type>

          {% if item.pitch is defined and item.pitch.accidental %}
          <accidental>{{ item.pitch.accidental }}</accidental>
          {% endif %}

          {% for _ in range(item.dots) %}
          <dot/>
          {% endfor %}
        </note>
        {% endfor %}
      </measure>

      {% set global_measure = global_measure + 1 %}

      {# Remaining measures of this original score #}
      {% for measure in score.measures[1:] %}
      <measure number="{{ global_measure }}">

        {% set clef = score.clef_changes.get(loop.index + 1, None) %}
        {% if clef %}
        <attributes>
          <clef>
            <sign>{{ clef.value }}</sign>
            <line>2</line>
          </clef>
        </attributes>
        {% endif %}

        {% for item in measure.items %}
        <note>
          {% if item.pitch is defined %}
          <pitch>
            <step>{{ item.pitch.step }}</step>
            {% if item.pitch.accidental == 'sharp' %}<alter>1</alter>
            {% elif item.pitch.accidental == 'flat' %}<alter>-1</alter>
            {% elif item.pitch.accidental == 'natural' %}<alter>0</alter>
            {% endif %}
            <octave>{{ item.pitch.octave }}</octave>
          </pitch>
          {% else %}
          <rest/>
          {% endif %}

          <duration>{{ duration_map.get(item.duration.value, 4) }}</duration>
          <type>{{ item.duration.value }}</type>

          {% if item.pitch is defined and item.pitch.accidental %}
          <accidental>{{ item.pitch.accidental }}</accidental>
          {% endif %}

          {% for _ in range(item.dots) %}
          <dot/>
          {% endfor %}
        </note>
        {% endfor %}
      </measure>

      {% set global_measure = global_measure + 1 %}
      {% endfor %}

    {% endfor %}

  </part>

</score-partwise>
